<h3>Mock Scan</h3>
<form action="/bodyscan/create" method="POST">
	<span>user_id</span>
	<input type="text" name="bodyscan[user_id]" value="" placeholder="Enter a value"/>
	<span>sensor</span>
	<input type="text" name="bodyscan[sensor]" value="" placeholder="Enter a value"/>
	<span>value</span>
	<input type="text" name="bodyscan[value]" value="" placeholder="Enter a value"/>
	<span>UOM</span>
	<input type="text" name="bodyscan[UOM]" value="" placeholder="Enter a value"/>
	<span>created_at</span>
	<input type=date name="bodyscan[created_at]">
	<input type="submit" value="Mock Register" />
</form>