<h3>User Registration</h3>
<form action="/user/create" method="POST">
	<span>firstname</span>
	<input type="text" name="user[firstname]" value="" placeholder="Enter a value"/>
	<span>lastname</span>
	<input type="text" name="user[lastname]" value="" placeholder="Enter a value"/>
	<span>nation</span>
	<input type="text" name="user[nation]" value="" placeholder="Enter a value"/>
	<span>birthday</span>
	<input type=date name="user[birthday]">
	
	<input type="submit" value="Create User" />
</form>