<div class="col_6 gallery">

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/tempCorp.svg">
	    </div>
	  </div>
	  <h1>Body Temperature</h1>
	  <input class="myButton" ng-click="button_leer_temperatura()" type="button" value="Check Body Temp">
	  <h2>{{temperature_read_value}} &#8451;</h2>
	</article>

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/Glucosa.svg">
	    </div>
	  </div>
	  <h1>Glucose</h1>
	  <input class="myButton" ng-click="button_leer_glucometro()" type="button" value="Analyze Blood Glucose">
	  <h2>{{glucometer_read_value}} mg/dl</h2>
	</article>



	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/Musculos.svg">
	    </div>
	  </div>
	  <h1>Electromyograph</h1>
	  <input class="myButton" ng-click="button_leer_electromyograph()" type="button" value="Get EMG">
	  <h2>{{electromyograph_read_value}}</h2>
	</article>

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/Oxi.svg">
	    </div>
	  </div>
	  <h1>Arterial Oxygen</h1>
	  <input class="myButton" ng-click="button_leer_oximetro()" type="button" value="Arterial Oxygen Measurement">
	  <h2>{{oximeter_read_value_spo2}} SpO2%</h2>
	  <h2>{{oximeter_read_value_prbpm}} PRbpm</h2>
	</article>

</div>
<div class="col_6 gallery">

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/tempAmb.svg">
	    </div>
	  </div>
	  <h1>Env. Temperature</h1>
	  <input class="myButton" ng-click="button_leer_temperatura_env()" type="button" value="Check Enviroment Temp">
	  <h2>{{temperature_env_read_value}} &#8451;</h2>
	</article>

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/Saliva.svg">
	    </div>
	  </div>
	  <h1>Saliva pH</h1>
	  <input class="myButton" ng-click="button_leer_saliva_ph()" type="button" value="Check Saliva pH">
	  <h2>{{saliva_ph_read_value}} pH</h2>
	</article>

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/Electro.svg">
	    </div>
	  </div>
	  <h1>Electrocardiogram</h1>
	  <input class="myButton" ng-click="button_leer_electrocardiograph()" type="button" value="Get Electrocardiograph">
	  <h2>{{electrocardiograph_read_value}}</h2>
	</article>

	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/body-scan-menu/ElcCardio.svg">
	    </div>
	  </div>
	  <h1>Blood Pressure</h1>
	  <input class="myButton" ng-click="button_leer_blood_pressure()" type="button" value="Check Blood Pressure">
	  <h2>{{blood_pressure_read_value}} p</h2>
	  <h2>{{systolic_pressure_read_value}} SYS</h2>
	  <h2>{{diastolic_pressure_read_value}} DIA</h2>
	</article>
</div>
