<!-- ===================================== 
	Main Menu 
===================================== -->
<div class="col_6 gallery">
	<a href="/view/body-scan"><img src="/images/presion.png" width="100" height="100" /></a>
	<a href="/view/medical-analysis"><img src="/images/presion.png" width="100" height="100" /></a>
	<a href="/view/muscle-performance"><img src="http://placehold.it/100x100/E49800/ffffff.png&text=100x100" width="100" height="100" /></a>
</div>