<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Down to Earth</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="NASA International Space Apps Challenge 2015" />
    <meta name="keywords" content="" />
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <!-- Charts -->
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../amstockchart/amcharts/style.css"	type="text/css">

  </head>
  <body ng-app="myapp" ng-controller="Ctrl"
  class="callout callout-top clearfix" style="background-image:url('/images/background.png')">
    <!-- ===================================== END HEADER ===================================== -->
    <nav class="navbar" style="vertical-align: center">
      <ul style="margin-top: 10px">
        <li><span class="top-title">Down to Earth</span></li>
        <li><input type="text" placeholder="Your User Id Goes Here" ng-model="user_id_value"></li>
        <li><input class="myButton" ng-click="button_send_body_scan(user_id_value)" type="button" value="Send Body Scan Report"></li>
        <li><span style="color:green;">{{files_been_sent_messages}}</span></li>
      </ul>
      <div class="col_6 gallery" >
        <a href="/view/body-scan"><img src="/images/body-scan.png" width="25" height="25" /></a>
        <a href="/view/medical-analysis"><img src="/images/medical-analysis.png" width="25" height="25" /></a>
        <a href="/view/muscle-performance"><img src="/images/muscle-performance.png" width="25" height="25" /></a>
      </div>
    </nav>
      <div class="grid">
        <div class="col_12" style="margin-top:100px;">
          <%= yield %>
        </div>
      </div> <!-- End Grid -->

      <!--<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>-->
      <script type="text/javascript" src="../js/angular.min.js"></script>
      <script type="text/javascript" src="../js/kickstart.js"></script> 
      <script type="text/javascript" src="../js/controller.js"></script>
      <script type="text/javascript" src="../js/chartmanager.js"></script>

      <!-- Charts data -->
      <script src="../amstockchart/amcharts/amcharts.js" type="text/javascript"></script>
      <script src="../amstockchart/amcharts/serial.js" type="text/javascript"></script>
      <script src="../amstockchart/amcharts/amstock.js" type="text/javascript"></script>
      <script src="../amstockchart/amcharts/themes/light.js" type="text/javascript"></script>
  </body>
</html>