<!-- ===================================== 
	Medical analisys 
===================================== -->

    <div class="chart-parent" >
    	<ul>
    		<li><button class="blue" onclick="drawChart();">Environment Temperature</button></li>
    		<li><button class="blue" onclick="drawChart();">Body Temperature</button></li>
    		<li><button class="blue" onclick="drawChart();">Saliva pH</button></li>
    		<li><button class="blue" onclick="drawChart();">Glucose in the blood</button></li>
    		<li><button class="blue" onclick="drawChart();">Electrocardiogram</button></li>
    		<li><button class="blue" onclick="drawChart();">Muscular group</button></li>
    		<li><button class="blue" onclick="drawChart();">Water consuption</button></li>
    		<li><button class="blue" onclick="drawChart();">O</button></li>
    	</ul>
		<div id="chartdiv" style="width:100%; height:600px; background-color:#282828; padding:10px"></div>
	</div>