
	<div class="col_6 gallery">
	<a href="/view/body-scan"><img src="/images/presion.png" width="100" height="100" /></a>
	<a href="/view/medical-analysis"><img src="/images/presion.png" width="100" height="100" /></a>
	<a href="/view/muscle-performance"><img src="http://placehold.it/100x100/E49800/ffffff.png&text=100x100" width="100" height="100" /></a>
</div>

	<article class="box weather float_left">

	  <div class="icon bubble black">
	    <div class="spin">
	      <img src="/images/human_body.png">
	    </div>
	  </div>
	  
	  <h1>Oximetría de Pulso</h1>
	  <input class="myButton" ng-click="button_leer_oximetro()" type="button" value="Medición de Oxígeno Arterial">
	  <h2>{{oximeter_read_value_spo2}} SpO2%</h2>
	  <h2>{{oximeter_read_value_prbpm}} PRbpm</h2>
	</article>