
	<div class="col_6 gallery">
		<input class="myButton" ng-click="button_body_head()" type="button" value="Head">
		<input class="myButton" ng-click="button_body_neck()" type="button" value="Neck">
		<input class="myButton" ng-click="button_body_shoulders()" type="button" value="Shoulders">
		<input class="myButton" ng-click="button_body_pushups()" type="button" value="Pushups">
		<input class="myButton" ng-click="button_body_arms()" type="button" value="Arms">
		<input class="myButton" ng-click="button_body_hands()" type="button" value="Hands">
		<input class="myButton" ng-click="button_body_legs()" type="button" value="Legs">
		<input class="myButton" ng-click="button_body_feet()" type="button" value="Feet">

		<!--<h1><span class="red">2</span>A red circle with number inside</h1>-->

		<h3>1st Earth Messure: <span class="blue">{{EGM_body_today}}</span></h3>

		<h3>1st Space Station Messure: <span class="green">{{EGM_body_space}}</span></h3>

		<h3>Today's Muscle Intensity Messure: <span class="pink">{{EGM_body_today}}</span></h3>
	</div>
	<article class="box weather float_left">
	  <div class="icon bubble black">
	    <div class="spin">
	      <img id="my_muscle_performance_report_body_img" src="/images/body-muscles/body.png">
	    </div>
	  </div>
	</article>